<head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/main.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-9Y7WYDM9DP"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-9Y7WYDM9DP');
    </script>

</head>

<!DOCTYPE html>
<html>

<body>
    <div class="default_background">
        <div class="text-content">
            {{content}}
        </div>
    </div>
</body>

</html>