<!DOCTYPE html>
<html>

<head>
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <meta name="description" content="{% if page.description %}{{ page.description | escape }}{% else %}Personal website of Philip Fradkin, a PhD student at the University of Toronto working on machine learning and genomics.{% endif %}">
    <link rel="icon" type="image/x-icon" href="{{ "/favicon.ico" | absolute_url }}">
    <link rel="stylesheet" href="{{ "/css/main.css" | absolute_url }}?v={{ site.time | date: '%s' }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-9Y7WYDM9DP"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-9Y7WYDM9DP');
    </script>

</head>

<body>
    <div class="split-screen">
        <div class="left">
            <div class="entry">
                <h1 class="name">Philip Fradkin</h1>
            </div>
            <div class="profile-photo">
                <img src="{{ "/images/Phil.jpg" | absolute_url }}" alt="Your Photo" class="profile-photo">
            </div>
            <div class="entry">
                <a href="mailto:phil.fradkin@gmail.com" target="_blank" class="social-link"><i class="fa fa-envelope"
                        aria-hidden="true"></i> phil.fradkin@gmail.com</a>
            </div>
            <div class="entry">
                <a href="https://www.linkedin.com/in/philip-fradkin-330a417b/" target="_blank" class="social-link"><i
                        class="fab fa-linkedin"></i> LinkedIn</a>
            </div>
            <div class="entry">
                <a href="https://twitter.com/phil_fradkin" target="_blank" class="social-link"><i
                        class="fab fa-twitter"></i> Twitter</a>
            </div>
            <div class="entry">
                <a href="/pdf/Philip_Fradkin_2024.pdf" target="_blank" class="social-link"><i
                        class="fas fa-file-alt"></i>
                    Resume</a>
            </div>

            <!-- Section Navigation -->
            <hr style="width: 80%; margin: 20px auto; border: 0; height: 1px; background-color: #b7c1c7;">

            <div class="entry">
                <a href="#timeline" class="social-link"><i class="fas fa-stream fa-fw"></i> Timeline</a>
            </div>
            <div class="entry">
                <a href="#science-communication" class="social-link"><i class="fas fa-flask fa-fw"></i> SciComm</a>
            </div>
            <div class="entry">
                <a href="#talks" class="social-link"><i class="fas fa-comment-dots fa-fw"></i> Talks</a>
            </div>

            <!-- Other Pages -->
            <hr style="width: 80%; margin: 20px auto; border: 0; height: 1px; background-color: #b7c1c7;">
            <div class="entry">
                <a href="#misc" class="social-link"><i class="fas fa-book-open fa-fw"></i> Reading List</a>
            </div>

            <div class="theme-switch-wrapper">
                <span class="theme-name">Light</span>
                <label class="theme-switch" for="theme-toggle-checkbox">
                    <input type="checkbox" id="theme-toggle-checkbox" />
                    <span class="slider round"></span>
                </label>
                <span class="theme-name">Dark</span>
            </div>
        </div>
        <div class="right">
            <div class="text-content">
                {{content}}
            </div>
        </div>
    </div>

    <script>
        const themeToggleCheckbox = document.getElementById('theme-toggle-checkbox');
        const body = document.body;

        // Function to apply the theme
        const applyTheme = (theme) => {
            body.setAttribute('data-theme', theme);
            localStorage.setItem('theme', theme);
            // If dark theme, check the box. If light theme, uncheck it.
            themeToggleCheckbox.checked = theme === 'dark';
        };

        // Event listener for the toggle
        themeToggleCheckbox.addEventListener('change', () => {
            const newTheme = themeToggleCheckbox.checked ? 'dark' : 'light';
            applyTheme(newTheme);
        });

        // Apply saved theme on initial load
        const savedTheme = localStorage.getItem('theme') || 'dark'; // Default to dark
        applyTheme(savedTheme);
    </script>
</body>

</html>